p {
    color: #515151;
    font-size: 2em;
    font-family: "Georgia";
}
input[type=text], select {
  width: 10%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=button] {
  width: 10%;
  background-color: #999999;
  color: white;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
 .dropdown1 {
  width: 10%;
  height: 36px;
  background-color: #999999;
  color: white;
  padding-top: 100px;
  margin-top: 8px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.dropdown2 {
 width: 10%;
 height: 36px;
 background-color: #999999;
 color: white;
 padding-top: 100px;
 margin-top: 8px 0;
 border: none;
 border-radius: 10px;
 cursor: pointer;
}
.split {
  height: 100%;
  width: 80%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}
.left {
  left: 50  
}

.right {
  right: 0;
}
